# packages
node_modules

# generated
build/*
doc/*
!doc/logo/
!doc/doc/
.vscode/

# examples
examples/**/*.map
examples/**/*.bundle.*
examples/Sandbox/css/*
!examples/Sandbox/css/.gitkeep
changelog.txt

# doc
site/
.sass-cache/
doc/css/.sass-cache
