@import "_reset.scss";

html {
	background-color: #EEE;
}
.container {
	display: flex;
	justify-content: center;

	#canvas {
		margin: 20px 0;
		box-shadow: 0 0 0 1px #BBB;
	}
}
p {
	text-align: center;
	color: #BBB;
}
