@import "_reset.scss";

html {
	background-image: url("../../img/bg.jpg");
}
.container {
	display: flex;
	justify-content: center;

	#canvas {
		margin: 20px 0;
		box-shadow: 0 0 0 1px #4d4d4d;
	}
}
p {
	text-align: center;
	color: #BBB;
}
