@import "./_reset.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	background-color: #131417;
	color: #fcfcfc;
	font-family: "Arial", sans-serif;
}
html,
body,
#container {
	height: 100% !important;
}
#container {
	display: flex;
	padding: 10px;

	> :not(:last-child) {
		margin-right: 10px;
	}
}
.editor-container,
#preview {
	height: auto;
	flex: 1;
	border-radius: 4px;
	overflow-y: auto;
}
.editor {
	position: relative;

	&-container {
		> :not(:last-child) {
			padding-bottom: 1rem;
		}
	}
	&__title {
		cursor: pointer;
		padding: 1rem;
		font-weight: bold;
		background-color: #212431;
	}
	.CodeMirror {
		height: auto;
		font-size: 16px;
		z-index: 0;
		cursor: text;
	}
	&--collapsed &__title + * {
		display: none;
	}
	&#editor-html {
		flex: 1;
	}
	&#editor-js {
		flex: 9;
	}
}
